*{
  font-size: 20px;
  color: rgba(0, 0, 0, 0.85);
}

/* general container */
.aroundAllContainer{
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}


/* containers for individual components */
.oneCourseContainer{
  align-items: center;
  width: 250px;
  height: 150px;
  margin: 20px;
  padding: 10px;
  background: rgba(49, 88, 82, 0.8);
  border-radius: 15px;
  /* border-style: solid;
  border-color: rgb(24, 26, 25);
  border-width: 1px; */
}
.oneUnitContainer{
  align-items: center;
  width: 280px;
  height: 140px;
  margin: 25px;
  padding: 10px;
  background: rgba(97, 145, 137, 0.8);
  border-radius: 15px;
}
.oneTopicContainer{
  align-items: center;
  width: 250px;
  height: 200px;
  margin: 25px;
  padding: 10px;
  background: rgba(121, 163, 167, 0.8);
  border-radius: 15px;
}
.oneExerciseContainer{
  align-items: center;
  width: 600px;
  height: auto;
  margin: 20px;
  padding: 20px;
  background: rgba(157, 182, 178, 0.562);
  border-radius: 15px;
}
.topicName{
  color: white;
  font-size: 25px;
  font-weight: 300px;
  text-align: center; 
  position: relative;
  top: 30%;
}


/* Link related styles */
.myLink{
  font-size: 25px;
  color: white;
  font-weight: 200px;
  text-align: center; 
  position: relative;
  top: 40%;
  margin: 10px;
  text-decoration: none;
}
.myLink:hover{
  color: grey;
}
.topicLink{
  position: relative;
  top: 30%;
}
h1{
  font-size: 28px;
}


/* User answers an exercise form */
.myForm{
  border-radius: 10px; 
}
.mySubmitButton{
  background: rgb(20, 121, 79);
  color: white;
  font-size: 15px;
  font-weight: 30px;
  border-radius: 10px;
  padding: 5px;
  margin: 10px 5px;
  border-color: rgb(83, 114, 101);
}
.mySolutionButton{
  background: rgb(126, 22, 31);
  color: white;
  font-size: 15px;
  font-weight: 30px;
  border-radius: 10px;
  padding: 5px;
  margin: 10px 5px;
  border-color: rgb(129, 67, 93);
}
.correctAnswer{
  border-color: rgb(20, 121, 79);
  background: rgb(135, 184, 163);
  border-width: 3px;
}
.wrongAnswer{
  border-color: rgb(126, 22, 31);
  background:rgb(185, 113, 120);
  border-width: 3px;
}
.solution{
  font-weight: bold;
}
.solutionText{
  text-align: center;
  /* text-align: justify; */
  padding: 20px;
}

/* lecture part */
.lectureText{
  text-align: justify;
  padding: 1% 10% 1% 10%;
}
.lectureHeading{
  font-size: 30px;
}
.lectureDiv{
  max-width: 1200px;  
}

/* sidebar component */
.sidebarDiv{
  text-align: center;
  padding: 10px 1% 1% 1%;
}
.sidebarLink{
  font-size: 22px;
  color: rgba(43, 40, 40, 0.9);
  font-weight: 200px;
  text-align: center; 
  text-decoration: none;
}
.sidebarLink:hover{
  color:rgba(179, 175, 175, 0.856);
}
.scoreClass{
  /* border: 2px solid rgba(212, 29, 99, 0.95); */
  background: rgba(212, 29, 99, 0.5);
  border-radius: 10px;
  padding: 3%;
  margin: 5%;
}
.Score{
  color: rgb(59, 5, 26);
  font-weight: bold;
}